.App {
  width: 98vw;
  height: 80vh;
}

.centered {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

/* GLOBAL STYLES */

.componentBg {
    margin: 5% auto 0 auto;
    width: 70%;
    height: 70vh;
    padding: 20px 5%;
    border-radius: 25px;
    background-color: #ebebeb;
    box-shadow:  29px 29px 50px #c3c3c3,
             -29px -29px 50px #ffffff;
}

.componentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleColor {
    color: #292929;
}

.incomeGreenColor {
    color: #007a2b;
}

.regularColor {
    color: #1c1c1c;
}

.modalBg {
    border-radius: 5px;
    padding-left: 10px;
    min-height: 200px;
    width: 400px;
    background-color:   rgba(219, 219, 219, 1);
    margin: 20px auto 0 auto;
    padding: 0 15px 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.buttonGroupModal {
    margin-top: 20px;
}