.App {
  width: 98vw;
  height: 80vh;
}

.centered {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

/* GLOBAL STYLES */

.componentBg {
    margin: 5% auto 0 auto;
    width: 70%;
    height: 70vh;
    padding: 20px 5%;
    border-radius: 10px;
    border: 2px solid rgba(71, 166, 255, 1);
    background-color: rgba(71, 166, 255, 0.3);
}

.componentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panelTitle {
    border-bottom: 4px solid #6437C1;
}

.titleColor {
    color: #292929;
}

.incomeGreenColor {
    color: #007a2b !important;
}

.regularColor {
    color: #1c1c1c;
}

.buttonGroupModal {
    margin-top: 20px;
}